@model IEnumerable<WebPractice.Models.tblUser>

@{
    ViewBag.Title = " Admin List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section link
{
    <link href="~/AdminContent/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/AdminContent/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admins</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details","Admin", new { id = item.UserID })">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Admin", new { id= item.UserID })" class="btn btn-sm btn-circle btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a> |
                                <a href="@Url.Action("Delete","Admin", new { id= item.UserID })" class="btn btn-sm btn-circle btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#dataTable").dataTable();
</script>
@section Script
{
    <script src="~/AdminContent/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/AdminContent/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/AdminContent/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/AdminContent/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminContent/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/AdminContent/js/demo/datatables-demo.js"></script>
}