@model WebPractice.Models.tblUser

@{
    ViewBag.Title = "UserProfile";
}


<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <p>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserID })
            </p>

            <img src="~/images/@Html.DisplayFor(model => model.ProfPic)" class="img-thumbnail" id="userimage" />
            <br />


            @{
                if (Model.ProfPic == "user2.png")
                {

                    MvcForm mvcForm = Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" });
                    <div>
                        <br />
                        <button id="btnImg" class="btn btn-sm btn-outline-success" onclick="return getfile()"> Upload Image </button>
                        <input type="file" name="profimg" id="profimg" style="display:none" onchange="preview(event)" />
                    </div>
                    <script>
                        function getfile() {
                            var btn = document.querySelector("#btnImg");
                            if (btn.innerHTML == "Save Image") {
                                return true;
                            }
                            else {
                                document.getElementById('profimg').click();
                                return false;
                            }
                        }
                        function preview(event) {

                            var img = document.querySelector("#userimage");
                            img.src = URL.createObjectURL(event.target.files[0]);
                            var btn = document.querySelector("#btnImg");
                            btn.innerHTML = "Save Image";

                        }
                    </script>
                    mvcForm.EndForm();
                }

                else
                {
                    <div> <a href="#"> Change Profile Image </a> </div>
                }

            }

            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.Name)'s Profile</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.Email)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.ContactNo)</h4>
            </div>
            <div class="row">
                @{
                    if (Model.IsActive == true)
                    {
                        <a href="#"> Deactivate Account </a>
                    }
                }
            </div>

            <div class="row">
                <br /><br />
                <div class="alert-danger" style="margin-top:40px">
                    <a href="@Url.Action("Logout","Home")" class="btn btn-danger"> Signout </a>
                </div>
            </div>
        </div>


    </div>
</div>

